<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035562816092-ca3eod00a8h4kqt7qpbp3kr97tvgsrk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035562816092-ca3eod00a8h4kqt7qpbp3kr97tvgsrk7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035562816092-8d9n1vo86reii7gcbkl5c78tfb60j4t7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdaey8ZOL0YdtOPE2Jr1autk2oSUMtgQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1035562816092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.care.duuet</string>
	<key>PROJECT_ID</key>
	<string>duuet-d08ul1</string>
	<key>STORAGE_BUCKET</key>
	<string>duuet-d08ul1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035562816092:ios:be204adf6ba1ef84bacc99</string>
</dict>
</plist>